<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahmeddebbech.aries_messenger">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.activities.RequestsActivity"></activity>
        <activity android:name=".views.activities.ContactProfile" />
        <activity
            android:name=".views.activities.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activities.EditBioActivity"
            android:label="@string/title_activity_edit_bio"/>
        <activity
            android:name=".views.activities.EditDispNameActivity"
            android:label="@string/title_activity_edit_disp_name" />
        <activity
            android:name=".views.activities.RegisterActivity"
            android:label="Register for Aries"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activities.LoginActivity"
            android:label="Aries Messenger"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.MainActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>